.icon
  width 1em
  height 1em
  vertical-align -0.15em
  fill currentColor
  overflow hidden

.svg-comm
  display inline-block
  font normal normal normal 14px/1 FontAwesome
  font-size inherit
  text-rendering auto
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.svg-comm-width
  width 1.28571429em
  text-align center
